body{
	background-color:red;
	}
	.form_one{
		background-color:#003d4c;
		height:500px;
		width:100%;
		}
		.form_two{
			margin-top:30px;
			background-color:rgba(51,51,51,1);
			height:500px;
			width:100%;
			}